@import "variables";
@import "fonts";

h2 {
  text-align: center;
  font-family: $quicksand;
}

.execs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 6em;
  row-gap: 1em;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6em;
  margin-bottom:.8em;

  img {
   display: block;
   width: 40px;
 }
}