@import url("https://fonts.googleapis.com/css2?family=Inter&family=Orbitron:wght@400;500&family=Quicksand:wght@400;500;600;700&display=swap");
.hero {
  background-image: url("../images/spacebg.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  position: relative;
}
.hero > * {
  z-index: 1;
}
.hero .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 100%;
  flex-grow: 1;
}
.hero .top > div {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .hero .top > div {
    justify-content: center;
  }
}
.hero .top > div .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .top > div .heroTitleBox .heroTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero .top > div .heroTitleBox .heroTitle h1 {
    font-size: 4rem;
    line-height: 2em;
  }
}
.hero .top > div .heroTitleBox .tickets {
  color: #7b5fdc;
  margin-top: 1em;
}
.hero .top > div .heroTitleBox .tickets a {
  font-size: 2.5em;
  background-color: rgba(30, 36, 77, 0.4);
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  border: 0.5rem solid rgba(137, 112, 224, 0.4);
  border-radius: 1rem;
  padding-inline: 0.3em;
  text-decoration: none;
  color: inherit;
}
.hero .top > div .heroTitleBox .tickets a:hover, .hero .top > div .heroTitleBox .tickets a:focus {
  color: #9078e2;
  font-weight: 500;
  background-color: rgba(44, 53, 114, 0.4);
}
.hero .bottom {
  background-color: rgba(137, 112, 224, 0.4);
  padding: 1em;
  padding-inline: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .bottom div {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  flex-grow: 1;
  justify-content: center;
}
.hero .bottom div > * {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .hero .bottom div {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .hero img {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hero * {
    text-align: center;
  }
}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  content: "";
}

.bgs {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  max-height: 100%;
}
.bgs * {
  display: block;
}

.about {
  position: relative;
  margin: 0;
  background-color: rgba(30, 36, 77, 0.9);
}
.about .points {
  --l-padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about .points h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin-left: var(--l-padding);
}
.about .points div:has(> img) {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  margin-left: var(--l-padding);
}
.about .points div:has(> img) img {
  height: 8rem;
  width: auto;
}
.about .points div:has(> p) p {
  padding: var(--l-padding);
  background-color: rgba(137, 112, 224, 0.6);
  border-radius: 15px;
}

.faq {
  background-color: rgba(137, 112, 224, 0.8);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.faq div:nth-child(2) {
  position: relative;
}
.faq * {
  z-index: 2;
}
.faq .watermark {
  font-size: 50rem;
  position: absolute;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  top: -15rem;
  left: -5rem;
  line-height: 1em;
  z-index: 1;
  color: rgba(39, 46, 99, 0.8);
}
.faq *:has(> faq-question) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section {
  display: block;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.module.css.map */
