@import "fonts";
@import "variables";

$about-bg: rgba($dark-purple, 90%);
$faq-bg: rgba($light-purple, 80%);

.hero {
  background-image: url("../images/spacebg.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  position:relative;

  >* {
    z-index: 1;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
  }

  .top > div {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-evenly;
    @media screen and (max-width: $screen-mobile-large) {
      justify-content: center;
    }
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .heroTitleBox {
      .heroTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h1 {
          @media screen and (max-width: $screen-mobile-large){
            font-size: 4rem;
            line-height: 2em;
          }
        }
      }
      .tickets {
        color: darken($light-purple,4);
        margin-top: 1em;
        a {
          font-size: 2.5em;
          background-color: rgba($dark-purple, 40%);
          font-family: $quicksand;
          font-weight: $regular-weight;
          border: .5rem solid rgba($light-purple, 40%);
          border-radius: 1rem;
          padding-inline: .3em;
          text-decoration: none;
          color:inherit;
        }
        a:hover, a:focus {
          color: lighten($light-purple, 2);
          font-weight: $medium-weight;
          background-color: rgba(lighten($dark-purple,10), 40%);
        }
      }
    }
  }

  .bottom {
    background-color: rgba($light-purple, 40%);
    padding: 1em;
    padding-inline: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      font-size: 2.5rem;
      font-weight: $heavy-weight;
      flex-grow: 1;
      justify-content: center;

      > * {
          margin: 0 auto;
      }
      @media screen and (max-width: $screen-mobile-large) {
        flex-direction: column;
      }
    }
  }

  @media screen and (max-width: $screen-mobile-large) {
    img {
      display: none;
    }
  }

  @media screen and (max-width: $screen-desktop) {
    * {
      text-align: center;
    }
  }
}

// black to cover the bg image to make text readable
.hero::before {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0 0 0 / .30);
    z-index: 0;
    content:"";
}

.bgs {
  position: absolute;
  overflow:hidden;
  z-index: -1;
  max-height: 100%;

  * {
    display:block;
  }
}

.about {
  position: relative;
  margin: 0;
  background-color: $about-bg;
  //background: linear-gradient(to bottom, $about-bg 95%, $faq-bg 100%);

  .points {
    --l-padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > div {

    }

    h3 {
      font-family: $quicksand;
      font-weight: $regular-weight;
      margin-left: var(--l-padding);
    }

    div:has(> img) {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 1rem;
      gap: 2rem;
      margin-left: var(--l-padding);
    }

    //div with the map and calendar
  div:has(> img) {
      img {
        height: 8rem;
        width: auto;
      }
    }

    div:has(>p) {
      p {
        padding: var(--l-padding);
        background-color: rgba($light-purple, 60%);
        border-radius: 15px;
      }
    }
  }
}

.faq {
  background-color: $faq-bg;
  //background: linear-gradient(to bottom, $about-bg 5%, $faq-bg 10%);
  position: relative;
  z-index: 0;
  overflow: hidden;

  div:nth-child(2) {
    position:relative;
  }

  * {
    z-index: 2;
  }

  .watermark {
    font-size: 50rem;
    position: absolute;
    font-weight: $medium-weight;
    font-family: $inter;
    top:-15rem;
    left:-5rem;
    line-height: 1em;
    z-index: 1;
    color: rgba(lighten($dark-purple,6), 80%);;
  }

  *:has(>faq-question) {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: $screen-mobile-large) {
    //  align-items: center;
    }
  }
}

section {
  display: block;
  margin: 0;
  padding: 0;
}