@import "fonts";
@import "variables";

.modal::backdrop {
  background-color: rgba($light-purple, 60%);
  opacity: 60%;
}

.modal {
  background-color: $dark-purple;
  border: $white 5px solid;
  color: $white;
  border-radius: 5px;
  padding:.5em;
  min-width: 100px;

  >div>div:nth-child(1) {
    width:100%;
    display:flex;
    justify-content: right;
  }

  .closeButton {
    //all: unset;
    cursor: pointer;
    background-color: purple;
    position:sticky;
    top:0;
    right:0;
    :focus-visible{
      outline: red solid 3px;
    }
  }
}