@import "fonts";
@import "variables";

$border-rad: 1em;
faq-question {
  position: relative;
  display: block;
  max-width: 50vw;
  background-color: $light-purple;
  border-radius: $border-rad;
  //border: 1rem solid darken($dark-purple, 3);
  box-shadow:inset 0px 0px 0px 10px darken($dark-purple, 3);

  .header {
    font-family: $inter;
    background-color: $dark-purple;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: $border-rad;
    border: 1rem solid darken($dark-purple, 3);
    width:100%;

    button {
      all: unset;
      cursor: pointer;
    }

    div:has(> svg) {
      display:flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      height: 2em;
      width: auto;
      color:$light-purple;
    }

    button:hover {
      svg {
        color: darken($light-purple, 5)
      }
    }
  }

  .answer {
    display:none;
    padding: 1.5em;
  }
}