@import "fonts";
@import "variables";

.yearButton {
  background-color: $light-purple;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  border-radius: 20px;
  font-size: 1.5em;
}

div:has(>.yearButton) {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap:0.5em;
}

.speakers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1em;
  //justify-content: center;
}

h2 {
  font-size: 4em;
  text-align: center;
}
