@import "fonts";
@import "variables";

.main {
  background-image: url("../images/spacebg.png");
  background-attachment: fixed;
  background-size: cover;
}

.history {
  background-color: rgba($dark-purple,90%);
  padding-block:2em;
  padding-inline: 3em;
}

.yearButton {
  background-color: $light-purple;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  border-radius: 20px;
  font-size: 1.5em;
}

div:has(>.yearButton) {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap:0.5em;
}

.yearSections {
  display:flex;
  flex-direction: column;
  gap:2em;
}