@import "variables";
@import "fonts";

.main {
  background-image: url("../images/spacebg.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 2em;

  h1 {
    color: $yellow;
    font-size: 5em;
    margin-bottom: .5em;
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4em;
    flex-wrap: wrap;
  }

  div:has(>.card) {
    max-width: 30%;
    min-width: 35ch;
  }

  .card {
    background-color: rgba($light-purple, 70%);
    padding-inline: 1.5em;
    padding-block:1.25em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3em;
    width: 100%;

    .price {
      color: $yellow;
      font-family: $orbitron;
      font-size: 1.5em;
      font-weight: $medium-weight;
      text-align: center;
    }

    .date {
      color: orange;
      margin-bottom:1em;
      font-weight: $medium-weight;
      text-align: center;
    }

    ul {
      list-style: disc;
      list-style-position: inside;
      padding-inline: 1em;
    }

    li:not(:last-child) {
      margin-bottom: .4em;
    }

    a {
      padding: 1em;
      background-color: $dark-purple;
      border-radius: 20px;
      width: 90%;
      text-align: center;
      font-family: $orbitron;
      color: $yellow;
      font-weight: $medium-weight;
      font-size: 1.1em;
      margin-top: 1em;
      text-decoration: none;
    }

    a:hover {
      background-color: lighten($dark-purple,15);
      color: orange;
    }
  }
}