DirectoryIndex index.html
Redirect 301 /shop https://qsconference.ca/tickets
Redirect 301 /buy https://qsconference.ca/tickets
Redirect 301 /attend https://qsconference.ca/tickets
Redirect 301 /purchase https://qsconference.ca/tickets