---
import Layout from "../layouts/Layout.astro";
import "../styles/main.scss"
import Exec from "../components/Exec.astro";
import aislyn from "../images/team/Aislyn.png"


---

<Layout title="About Us">
    <meta slot="head" name="description" property="og:description" content="The Queen's Space Conference (QSC) is an annual space conference held in Kingston, Ontario. The conference is centered around a series of exciting talks from professionals in the space spector, innovative workshops, and networking opportunities. Come to QSC 2024 on Febuary 3rd and Febuary 4th to learn about all things space." />
    <meta slot="head" property="og:url" content="https://www.qsconference.ca/about">
    <link slot="head" rel="canonical" href="https://qsconference.com/about">

    <main slot="content">
        <h1>About Us</h1>
        <Exec img={aislyn} name="Aislyn Watson" position="Co-Chair"/>
    </main>
</Layout>