---
import IconCard from "../styles/IconCard.module.scss"
const { iconList } = Astro.props;
---

<div>
    <div class:list={["p-3"]}>
        {iconList.map((pair) => {
            return (<img src={pair.url} alt={pair.alt}/>)
        })}
    </div>
    <div class={IconCard.pointsText}>
        <p class={`p-2`}>
            <slot />
        </p>
    </div>
</div>