---
import locationIcon from "../icons/location.svg";
import calendarIcon from "../icons/calendar.svg";
import Index from "../styles/index.module.scss";

const { icons } = Astro.props;
---

<div>
    <div class:list={["p-3"]}>
        <img src={locationIcon.src} alt="icon of a map pin"/>
        <img src={calendarIcon.src} alt="icon of a calendar"/>
    </div>
    <div class={Index.pointsText}>
        <p class={`p-2`}></p>
    </div>
</div>