---
import Modal from "../styles/Modal.module.scss"

const { openButton } = Astro.props;
---

<div>
    <slot name="button"/>
    <dialog role="dialog" class={Modal.modal}>
        <div>
            <div>
                <button class={Modal.closeButton}>X</button>
            </div>
            <slot name="content"/>
        </div>
    </dialog>
</div>



<script>
    import Modal from "../styles/Modal.module.scss"

    const modalDivs = document.querySelectorAll("div:has(>dialog)")

    // closing by clicking outside
    modalDivs.forEach(modalDiv => {
        const dialog = modalDiv.querySelector("dialog")
        const wrapper = dialog.querySelector(":scope > div")
        dialog.addEventListener('click', e => {
            const target = e.target as HTMLElement
            if(target && !wrapper.contains(target)) {
                dialog.close()
            }
        })

        const button = modalDiv.querySelector(":scope > button")
        button.addEventListener("click", e => {
            dialog.showModal()
        })

        const close = dialog.querySelector("button")
        close.addEventListener("click", e => {
            dialog.close()
        })
    })
</script>