---
import "../styles/main.scss"
import Question from "../styles/Question.module.scss";
import ShuttleArrowIcon from "./ShuttleArrowIcon.astro";
const { question, answer } = Astro.props;
---

<faq-question>
    <div class={Question.header}>
        <p>{question}</p>
        <button class="question-button">
            <div>
                <ShuttleArrowIcon/>
            </div>
        </button>
    </div>

    <div id="question-answer" class:list={[Question.answer]}>
        <p>{answer}</p>
    </div>
</faq-question>
<script>
    class Question extends HTMLElement {
        constructor() {
            super()
        }
        connectedCallback() {
            console.log("D")
            let answerShown = false;
            const handleClick = e => {
                console.log("clicked");
                answerShown = !answerShown
                if(answerShown) {
                    this.querySelector("#question-answer").classList.add("shown")
                    this.querySelector("svg").classList.add("rotate180")
                } else {
                    this.querySelector("#question-answer").classList.remove("shown")
                    this.querySelector("svg").classList.remove("rotate180")
                }
            }
            this.querySelector("button").addEventListener("click", handleClick)
        }
    }
    // Tell the browser to use our AstroHeart class for <astro-heart> elements.
    customElements.define("faq-question", Question);
</script>